*{
    pad: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
}

section{
    position: relative;
    background-color: black;
}

.logo{
    position: absolute;
    width: 300px;
    fill: crimson;
}
@media (max-width: 768px){
    .logo{
        width: 150px;
    }
}